C:\Users\Sudhanva\OneDrive\Desktop\django-projects\Ai_Learning\backend\venv
C:\Users\Sudhanva\OneDrive\Desktop\django-projects\Ai_Learning\backend\test_gemini_new.py
C:\Users\Sudhanva\OneDrive\Desktop\django-projects\Ai_Learning\backend\test_gemini.py
